h1 {
    color: red;
}

/* Estoy comentando */


p {
    color: blue;
    font-size: 16pt;
    
}

#primera-noticia{
    color: green;

}

#segunda-noticia{
    color: magenta;
}

.encabezado{
    font-size: 24pt;
    text-transform: capitalize;
} 
*.warning{
    color: red;
}

.autor, .fecha , .ubicacion{
    text-decoration: underline;
}

