@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto+Condensed:wght@300&display=swap');



.google {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20pt;
    font-weight: 0;
    

}.Dafont{
    font-family: 'Merriweather', serif;
    font-size: 20pt;
    font-weight: 0;
   
}