* {
    padding: 0px;
    margin: 0px;
}
html{
    font-family: Century;
    color: white;
}
.video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
}

.header {
    height: 100vh;
    position: relative;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}